/* Regular */
@font-face {
  font-family: 'PT Sans';
  src: url('fonts/PTSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'PT Sans';
  src: url('fonts/PTSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'PT Sans';
  src: url('fonts/PTSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Bold Italic */
@font-face {
  font-family: 'PT Sans';
  src: url('fonts/PTSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: "PT-Sans",sans-serif;

}
.header-page{
background-color: #fff;
}
.header-content{
  width: 1200px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.navigation-main{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.navigation-list {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; 
  text-transform: capitalize;
 
  

}
.navigation-link>a{
  text-decoration: none;
  list-style: none;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;

  }


.header-actions{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  
}

.cta-button{
  background-color: #756157;
  border-radius: 4px;
  width: 160px;
  height: 35px;
  color: #fff;
  font-family: "PT Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding-top: 8px; 
  
}
.main-container{
  width: 1200px;
  margin: 0 auto;

}
.hero{
	background-image: url('/Img/index-background.jpg');
  background-position: center center;  
  background-size: cover;
  background-repeat: no-repeat;
  height: 485px;
}
.welcome-img{
	padding: 51px;
	width: 458px;
  height: 352px;
	display: block;
	margin: 0 auto;
}

.decor-img{
	width: 1200px;
	margin-bottom: -119px;
}
.title-sedona{
	padding: 69px;
	font-size: 30px;
 font-style: normal; 
 font-weight: 700;
 line-height: 36px; 
 text-transform: uppercase;
 text-align: center;
}

.text-sedona{
	padding: 15px;
	font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
	text-align: center;
}
.city-content{
  width: 1200px;
  height: 385px;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  

}
.box-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #82B3D3;
  height: 385px;
}

.title-city{
 font-family: "PT Sans";
 font-size: 24px;
 font-style: normal;
 font-weight: 700;
 line-height: 28px; 
 text-transform: uppercase;
 color: #FFFFFF;
 text-align: center;

}
.divider-line{
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.30);
}

.content-city{
  text-align: center;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 line-height: 21px;
 color: #FFFFFF;
}

.city-photo{
  background-image: url("/Img/photo-1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

}

.advantages-section{
  display: flex;
  background-color:#FFFFFF;
  width: 1200px;
  height: 385px;
  padding-top: 60px;


}
.advantages-list{ 
  display: flex;
  list-style: none;
}
.advantages-link {
  transition: 0.3s;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}
.advantages-link >a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 70px;
  padding: 50px;
  
  text-decoration: none;
}
.advantages-link:hover{
  background: rgba(131, 179, 211, 0.12);
  height: 385px;
  text-decoration: none;
}

.advantages-line{
   width: 60px;
   height: 2px;
   background: rgba(0, 0, 0, 0.30);
}
.img-euro{
  width: 15px;
  height: 25px;
}
.advantages-title {
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px; 
text-transform: uppercase;
color:#000;
}
.text-advantages{
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; 
  color:#333;
}
.devil-bridge{
 display: flex;
 height: 385px;
 width: 1200px;
 
 

}

.bridge-content{
  background-color:#82B3D3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 400px;
  

}

.title-bridge-content{
  color:white;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  text-transform: uppercase;


}

.bridge-devil-line{
  width:60px;
  height: 2px;
  background-color: #FFFFFF4D;
  display: block;
  margin: 0 auto;
  border: none;  

}

.text-bridge-devil{
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 116.667% */
  color: white;

  

}